/* HiberLink's main.css */
/* Under GPL-3.0 */

.center {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.copyleft {
    display: inline-block;
    transform: rotate(180deg);
}

.blue {
    color: royalblue;
    text-decoration: underline;
}

body {
    font-family: "Open Sans", sans-serif;
}

hr {
    display: block;
    width: 95%;
    background-color: #b1b1b3;
    height: 2px;
}



/* Fonts */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}